<!-- Header -->
<header id="head">
	<div class="container">
		<div class="row">
			<h1 class="lead">Access Store</h1>
			<p>
				<a href="{{path('app_login')}}" class="btn btn-default btn-lg" role="button">Connexion</a>
				<a href="{{path('app_register')}}" class="btn btn-action btn-lg" role="button">Inscription</a>
			</p>
		</div>
	</div>
</header>
<!-- /Header -->
