

<div class="container">
	<!-- Article main content -->
	<article class="col-md-12 maincontent">
		<div class="container">
			<div class="row"> <br><br><br><br>
				<h1 class="lead">Access Boutique / Administrator </h1>
				<hr style="width:100%; height:10px; background-color:#1B4F72 ">
				
				

					<div class="container">
							<div class="row">
								
								<p>
									<a href="{{path('app_login')}}" class="btn btn-default btn-lg" role="button">Connexion</a>
									<a href="{{path('app_register')}}" class="btn btn-action btn-lg" role="button">Inscription</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</article>
		</div>
