{% extends "base.html.twig" %}

{% block title %}Access Store - Nouvelle catégorie
{% endblock %}

{% block body %}
<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="{{ path('home_index')}}">Accueil</a></li>
			<li class="active">à propo</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">à propo</h1>
				</header>
				<h3>
					À propos de Access Store</h3>
				<p><img src="assets/images/mac.jpg" alt="" class="img-rounded pull-right" width="300" > Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam beatae soluta accusantium iusto nihil nesciunt unde veniam magnam repudiandae sapiente.</p>
				<p>Bienvenue sur Access Store, votre destination en ligne dédiée à la fourniture de produits adaptés et ergonomiques, résultant d'une passion et d'une histoire
					inspirantes. Notre engagement est de vous offrir une expérience d'achat exceptionnelle en mettant à votre disposition une sélection diversifiée de produits,
					un service clientèle de premier ordre, et une livraison rapide et fiable.</p>
				<h3>Notre Histoire</h3>
				<p></p>Fondé en 2023 par Arsene Ouanyou, Access Store trouve ses racines dans une histoire de dévouement envers le bien-être des personnes en situation de handicap.
					L'idée a germé lorsqu'Arsene a été sollicité par des amis non-voyants en Côte d'Ivoire, cherchant désespérément des équipements spécifiques pour les sports
					pratiqués par des personnes aveugles tels que le Goal Ball et le Cécifoot.
					Les défis personnels d'Arsene, en tant que personne non-voyante, lors de ses études universitaires ont également renforcé sa conviction de créer une solution.
					Face à la difficulté de trouver du matériel adapté, Arsene a décidé de transformer cette quête en un projet de fin de formation (DWWM) et de donner naissance
					à la Boutique "Bien-Être."
					En somme, la Boutique "Bien-Être" est bien plus qu'une simple plateforme e-commerce. C'est une initiative dévouée à offrir des solutions en ligne pour
					l'achat d'équipements adaptés et ergonomiques, répondant aux besoins spécifiques des personnes en situation de handicap.
					Notre Engagement envers la Qualité
					Chez Access Store, notre engagement envers la qualité est inébranlable. Chaque produit sur notre site est sélectionné méticuleusement pour garantir la
					satisfaction de nos clients. Nous collaborons étroitement avec des fournisseurs réputés afin d'assurer la durabilité, la fiabilité, et l'innovation de
					chaque article que nous proposons.</p>
				<h3>Notre Service Client</h3>
				<p>La satisfaction de nos clients est notre priorité absolue. Notre équipe de service clientèle dévouée est là pour répondre à toutes vos questions, vous
					assister dans le processus d'achat, et résoudre tout problème éventuel.</p>
				<h3>nous contacter</h3>
				<p>
					
				
				</p>
				
			</article>
			<!-- /Article -->
		{%endblock %}