<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>+33 7 51 25 20 35<br>
								<a href="mailto:#">Arsene Ouanyou <ouanyou21@gmail.com></a><br>
								<br>
								24 Bd Chastenet de Géry94800 Villejuif
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Nous suivre</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Text widget</h3>
						<div class="widget-body">
							<p> 
								L'idée de la boutique "Bien-Être" a vu le jour lorsque j'ai été sollicité par des amis non-voyants résidant en Côte d'Ivoire en août de cette année pour l'achat de balles de Goal Ball et de Cécifoot en France. Il est important de souligner que le Goal Ball et le Cécifoot sont des sports pratiqués par des personnes aveugles.
							
							</p>

						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
		</footer>