{% extends 'base.html.twig' %}

{% block title %}New Utilisateur{% endblock %}

{% block body %}


<div class="container">
	<!-- Article main content -->
	<article class="col-md-12 maincontent">
		<div class="container">
			<div class="row"> <br><br><br><br>
				<h1 class="lead">Nouvel utilisateur </h1>
				<hr style="width:100%; height:10px; background-color:#1B4F72 ">
				
				
				
				


    {{ include('pages/utilisateur/_form.html.twig') }}

    <a href="{{ path('utilisateur_index') }}">back to list</a>
    
    
    </div>
				</div>
			</article>
		</div>
    
{% endblock %}
