{% extends 'base.html.twig' %}

{% block title %}Article index
{% endblock %}

{% block body %}


<div class="container">
	<!-- Article main content -->
	<article class="col-md-12 maincontent">
		<div class="container">
			<div class="row">
				<br><br><br><br>
				
				<br><h6>ShopOnLine  / Tous nos Articles </h6><br>
				<hr style="width:100%; height:10px; background-color:#1B4F72 ">

					<!-- Begin Page Content -->
    		            <div class="container-fluid">  
    		                   
							<div>
									<article class="col-sm-8 maincontent">
										<header class="page-header">
									<h3>Contexte général</h3>
										<p>
											L'idée de la boutique "Bien-Être" a vu le jour lorsque j'ai été sollicité par des amis non-voyants résidant en Côte d'Ivoire en août de cette année pour l'achat de balles de Goal Ball et de Cécifoot en France. Il est important de souligner que le Goal Ball et le Cécifoot sont des sports pratiqués par des personnes aveugles.
										</p>
										
										<p> 
										Lorsque j'ai reçu leur demande, j'ai entrepris des recherches pour trouver ces équipements sur des sites de vente en ligne, mais en vain. J'ai également contacté des associations en France qui s'occupent du sport adapté pour les personnes en situation de handicap, mais je n'ai pas réussi à trouver ces articles. 
										</p>

<p>En 2017, alors que je poursuivais mes études en master en ergonomie et psychologie du travail à l'Université de Poitiers, j'ai fait des démarches similaires pour trouver des équipements adaptés pour effectuer des calculs statistiques en toute autonomie en tant que personne non-voyante. À l'époque, le responsable du handicap du master et la chef de l'unité pédagogique avaient également cherché en vain un tel matériel adapté. C'est finalement grâce au bouche-à-oreille que j'ai réussi à trouver un matériel adapté, après plus d'un an de recherche, lors d'une journée portes ouvertes organisée par l'association gérée par un de mes amis non-voyants que j'avais rencontrés sur le campus de l'Université de Poitiers. Face à ces défis, j'ai jugé util de m’attaquer à ce problème dans le cadre de mon projet de fin de formation (DWWM). C'est ainsi que l'idée de créer une boutique en ligne spécialisée dans la vente de ce type de matériel a pris forme. En résumé, cette application constitue une boutique en ligne proposant du matériel adapté et ergonomique. Le terme "matériel adapté ou ergonomique" désigne tout équipement utilisé conformément à une prescription médicale émise par un médecin du travail, ou tout équipement de compensation utilisé par une personne en situation de handicap pour pallier ses limitations. Une fois que le besoin en équipement est identifié, il est souvent difficile pour la personne en situation de handicap, ainsi que pour les professionnels qui l'accompagnent, de trouver ces équipements, en particulier en ligne. Cette difficulté peut s'expliquer en partie par un défaut de référencement en ligne de ces articles.</p>

<p>Pourtant, cet équipement adapté revêt une importance cruciale pour l'épanouissement des personnes en situation de handicap, que ce soit sur le plan professionnel ou social. Malheureusement, il n'existe pas de site de vente dédié où les personnes en situation de handicap et les professionnels qui les accompagnent peuvent trouver aisément l'équipement adapté dont ils ont besoin. C'est là que la Boutique "Bien-Être" intervient en proposant une solution via son site spécialisé.</p>
										
										</p>									
									</article>
								</div>
	
						
									<!-- Sidebar -->
									<aside class="col-sm-4 sidebar sidebar-right">
						
										<div class="widget">
											<h4>Vacancies</h4>
											<ul class="list-unstyled list-spaces">
												<li><a href="">Lorem ipsum dolor</a><br><span class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, laborum.</span></li>
												<li><a href="">Totam, libero, quis</a><br><span class="small text-muted">Suscipit veniam debitis sed ipsam quia magnam eveniet perferendis nisi.</span></li>
												<li><a href="">Enim, sequi dignissimos</a><br><span class="small text-muted">Reprehenderit illum quod unde quo vero ab inventore alias veritatis.</span></li>
												<li><a href="">Suscipit, consequatur, aut</a><br><span class="small text-muted">Sed, mollitia earum debitis est itaque esse reiciendis amet cupiditate.</span></li>
												<li><a href="">Nam, illo, veritatis</a><br><span class="small text-muted">Delectus, sapiente illo provident quo aliquam nihil beatae dignissimos itaque.</span></li>
											</ul>
										</div>
						
									</aside>
									<!-- /Sidebar -->
						
							</div>
							
							</div>
							
							</div>
						</article>
						</div>


{% endblock %}
